openapi: 3.0.0
info:
  title: Meeting API
  version: 1.0.0
  description: API documentation for scheduling, fetching, and deleting workspace meetings.

servers:
  - url: https://vow-org.me
    description: AWS development server
  - url: http://localhost:5000
    description: AWS development server

tags:
  - name: Meetings
    description: Manage workspace meetings

paths:
  /meeting/schedule/{workspaceId}:
    post:
      summary: Schedule a new meeting
      description: Allows a manager or supervisor to schedule a meeting. The meeting must be in the future.
      tags: [Meetings]
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          description: ID of the workspace
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - startTime
                - endTime
              properties:
                title:
                  type: string
                  example: Sprint Planning Meeting
                description:
                  type: string
                  example: Discussion on upcoming sprint tasks
                startTime:
                  type: string
                  format: date-time
                  example: 2025-12-01T10:00:00+05:30
                endTime:
                  type: string
                  format: date-time
                  example: 2025-12-01T11:00:00+05:30
                teamId:
                  type: string
                  example: 671a9f2e24c1f3aa80d6c111
                isConference:
                  type: boolean
                  example: false
      responses:
        "201":
          description: Meeting scheduled successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Meeting scheduled successfully
                  meeting:
                    $ref: "#/components/schemas/Meeting"
        "400":
          description: Invalid or missing input data
        "401":
          description: Unauthorized
        "403":
          description: Only manager or supervisor can schedule meetings
        "404":
          description: Workspace or team not found
        "500":
          description: Server error

  /meeting/{workspaceId}:
    get:
      summary: Get all meetings for a workspace
      description: Retrieves all meetings within a given workspace.
      tags: [Meetings]
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          description: ID of the workspace
          schema:
            type: string
      responses:
        "200":
          description: Meetings fetched successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  count:
                    type: integer
                    example: 3
                  meetings:
                    type: array
                    items:
                      $ref: "#/components/schemas/Meeting"
        "401":
          description: Unauthorized
        "404":
          description: Workspace not found
        "500":
          description: Server error

  /meeting/{workspaceId}/{meetingId}:
    delete:
      summary: Delete a meeting
      description: Deletes a meeting created in the workspace. Only the creator, manager, or supervisor can delete it.
      tags: [Meetings]
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          description: ID of the workspace
          schema:
            type: string
        - name: meetingId
          in: path
          required: true
          description: ID of the meeting to delete
          schema:
            type: string
      responses:
        "200":
          description: Meeting deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Meeting deleted successfully.
        "401":
          description: Unauthorized
        "403":
          description: Not authorized to delete meeting
        "404":
          description: Meeting not found
        "500":
          description: Server error

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Meeting:
      type: object
      properties:
        _id:
          type: string
          example: 671a9f2e24c1f3aa80d6c333
        title:
          type: string
          example: Sprint Planning Meeting
        description:
          type: string
          example: Discussion on next sprint milestones
        startTime:
          type: string
          format: date-time
          example: 2025-12-01T10:00:00+05:30
        endTime:
          type: string
          format: date-time
          example: 2025-12-01T11:00:00+05:30
        attendees:
          type: array
          items:
            type: string
            example: "john@example.com"
        workspace:
          type: string
          example: 671a9f2e24c1f3aa80d6c222
        createdBy:
          type: string
          example: 671a9f2e24c1f3aa80d6c444
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
